<div id='checkin'>

  <div class="userSearch">
    <div class="ui sticky">
      <div class="ui search">
        <div class="ui icon input fluid">
          <input
            class="prompt"
            type="text"
            ng-model="query"
            ng-change="searchUsers()"
            placeholder="name/email..."/>
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="userList">
    <table class="ui single line selectable table users-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>School</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="ui item"
          ng-repeat="user in users.users"
          ng-click="setSelectedUser(user)">
          <td>{{user.profile.name}}</td>
          <td>{{user.profile.school}}</td>
          <td>{{user.email}}</td>
          <td>{{user.confirmation.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>

    <div
      ng-hide="users.nextPage >= users.totalPages"
      class="ui button fluid primary"
      ng-click="users.getNextPage()">
      Next Page
    </div>
    <div ng-show="users.busy" class="ui icon message">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          Just one second
        </div>
        <p>We're fetching that content for you.</p>
      </div>
    </div>
  </div>

  <div class="ui modal userDetails">
    <div class="header">{{selectedUser.profile.name}}</div>
    <div class="content">
      {{selectedUser.email}}
    </div>
    <div class="actions">
      <div class="ui button"
        ng-click="setSelectedUser(null)">
        Close
      </div>
    </div>
  </div>
</div>
