<div class='checkin'>
  <h1>Checkin!</h1>
  <div class="ui modal userDetails">
    <div class="header">{{selectedUser.profile.name}}</div>
    <div class="content">
      {{selectedUser.email}}
    </div>
    <div class="actions">
      <div class="ui button"
        ng-click="setSelectedUser(null)">
        Close
      </div>
    </div>
  </div>
  <table class="ui single line selectable table"
    infinite-scroll='users.getNextPage()'
    infinite-scroll-disabled='users.busy || users.nextPage >= users.totalPages'
    infinite-scroll-distance='3'>
    <thead>
      <tr>
        <th>Name</th>
        <th>School</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="ui item"
        ng-repeat="user in users.users"
        ng-click="setSelectedUser(user)">
        <td>{{user.profile.name}}</td>
        <td>{{user.profile.school}}</td>
        <td>{{user.email}}</td>
        <td>{{user.confirmation.phoneNumber}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-show="users.busy">
    Loading...
  </div>
</div>
